# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build 
dist
build
dist-ssr
*.local

# Libs
node_modules

# Secret
.env
.env.example

# Editor & other
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
debug
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.prettierrc
.bashrc
*.bat
Dockerfile*

# Ignore configs
.gitignore
.dockerignore
.prettierignore
.eslintrcignore