{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"semi": false,
	"singleQuote": true,
	"bracketSpacing": true,
	"proseWrap": "always",
	"printWidth": 110,
	"trailingComma": "all",
	"tabWidth": 1,
	"useTabs": true,
	"jsxSingleQuote": false,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrder": [
		"^react",
		"<THIRD_PARTY_MODULES>",
		"^@reduxjs/(.*)$",
		"^@remix-run/(.*)$",
		"^@i18n/(.*)$",
		"^@context/(.*)$",
		"^@shared/(.*)$",
		"^@utils/(.*)$",
		"^@redux/(.*)$",
		"^@hooks/(.*)$",
		"^@layouts/(.*)$",
		"^@pages/(.*)$",
		"^@components/(.*)$",
		"^@mui/(.*)$",
		"^@assets/(.*)$",
		"@",
		"^styles/(.*)$",
		"^[./]",
		"^[../]",
		".(css|scss)",
		"(?=./styles.module.(css|scss))"
	]
}
