{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"semi": false,
	"singleQuote": true,
	"bracketSpacing": true,
	"proseWrap": "always",
	"printWidth": 110,
	"trailingComma": "all",
	"tabWidth": 1,
	"useTabs": true,
	"jsxSingleQuote": false,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrder": [
		"react",
		"@",
		"<THIRD_PARTY_MODULES>",
		"type",
		"interface",
		"context/",
		"shared/",
		"utils/",
		"redux/",
		"hooks/",
		"layouts/",
		"(pages/|./index)",
		"(components/|./index)",
		"../(.*)",
		"^../(.*)$",
		"\\.\\.",
		"assets/",
		".(svg|webp|jpg|jpeg|png)",
		"^./(.*)$",
		"styles",
		"^./styles",
		".(css|scss)",
		"(?=./styles.module.(css|scss))"
	]
}
